@font-face {
    font-family: 'rubik-bold';
    src: url('/media/Rubik-Bold.ttf') format('truetype');
}
body {
    font: 10px sans-serif;
}
text {
    fill: rgb(160,160,160);
    ;
}
.ticker_text{
    color: rgb(90,90,90);
}
button {
    position: absolute;
    right: 20px;
    top: 440px;
    display: none;
}
g.area {
    fill: #00b35c;
    fill-opacity:.05;
}
.information-bar{
  font-size: 18px;
  font-weight:600;
  fill: rgb(180,180,180);
}
.area{
    fill: #00b35c;
    fill-opacity:.05
}
g.close {
    stroke: #00b35c;
   /* fill: #00b35c;
    */
    fill-opacity:0;
    stroke-width: 1.4px
}
g {
    font-family: 'rubik-bold', sans-serif;
}
g.x.grid {
    opacity: .1;
    stroke-width: 1.5px;
}
g.x.axis {
    font-color: rgb(90,90,90);
    font-weight: bold;
    stroke-width:1.86px;
    font-size:11px;
    font-family: 'Staatliches', cursive;
    text-transfo2b1Ce9rm: uppercase;
    color: blue;
}
path.domain{
  stroke: rgb(170,170,170);
}
g.y.grid {
    opacity: .1;
    stroke-width: 1.5px;
    font-family: inherit;
}
g.x.axis.path{
    stroke: rgb(90,90,90);
}
tick.text{
    color:blue;
}
g.y.axis{
    font-size:12px;
    font-weight:bold;
    transform:translateX(0px);
    stroke-width:0px;
    font-color: rgb(90,90,90);
    font-family: 'Staatliches', cursive;
}
g.y:nth-child(2) > g:nth-child(2) > line:nth-child(1){
    opacity:0;
}
g.y:nth-child(5) > g:nth-child(3) > text:nth-child(2) {
    opacity: 0;
}
